<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.coal.projects.chat">

    <application>
        <receiver
                android:name=".AppInnerReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.coal.projects.chat.NotificationHelper.CHAT_INNER_ACTION"/>
            </intent-filter>
        </receiver>

        <activity
                android:name=".presentation.chats.ChatsActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".presentation.chat.ChatActivity">
        </activity>
        <activity android:name=".presentation.contacts.ContactsActivity">
        </activity>

        <service android:name=".ChatMessagingService"
                 android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>